{% extends 'generic/object_list.html' %}
{% load i18n %}

{% block title %}{% trans "Catalog Zone Info" %}{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">{% trans "Catalog Zone SOA Serial Number" %}</h5>
      <div class="card-body">
        {% if soa_serial is not None %}
          <span>{{ soa_serial }}</span>
        {% else %}
          <span class="text-muted">{% trans "Not yet initialized." %}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{{ block.super }}
{% endblock %}
