{% extends 'generic/object_list.html' %}
{% load i18n %}

{% block title %}{% trans "Catalog Zone Info" %}{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">{% trans "Catalog Zone SOA Serial Numbers" %}</h5>
      <div class="card-body">
        {% if catalog_zones %}
          <table class="table table-sm">
            <thead>
              <tr>
                <th>{% trans "View" %}</th>
                <th>{% trans "SOA Serial" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for cz in catalog_zones %}
                <tr>
                  <td>{{ cz.view.name }}</td>
                  <td>{{ cz.soa_serial }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <span class="text-muted">{% trans "No catalog zones initialized." %}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{{ block.super }}
{% endblock %}
